{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">

      <!-- 桌面端：保留原来的导航 -->
      <nav id="site-nav" class="greedy-nav desktop-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg">
            <a href="{{ base_path }}/">{{ site.title }}</a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>

      <!-- 手机端：单独用最稳的下拉菜单 -->
      <div class="mobile-nav-simple">
        <div class="mobile-nav-title">
          <a href="{{ base_path }}/">{{ site.title }}</a>
        </div>
        <select onchange="if (this.value) window.location.href=this.value;">
          <option value="">Menu</option>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <option value="{{ domain }}{{ link.url }}">{{ link.title }}</option>
          {% endfor %}
        </select>
      </div>

    </div>
  </div>
</div>
